.home-page {
  .hero {
    background: url("../assets/media/banner-1.jpg"), no-repeat;
    background-size: 100% 100%;
    height: 84vh;

    div {
      padding-top: 15rem;
    }
    h1 {
      text-transform: uppercase;
      font-weight: 800;
      line-height: 1.2;
    }
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .services {
    h3 {
      font-weight: 700;
    }
    p {
      font-size: 1rem;
      padding-bottom: 2rem;
      color: rgb(116, 116, 116);
    }
    p,
    h3 {
      text-align: center;
    }
    .service {
      border: 2px solid #f2f2f2;
      border-radius: 0.45rem;
      text-align: center;
      padding: 1rem;
      margin: 1rem auto;
    }
  }

  .service {
    div {
      width: 40%;
      margin: 0 auto;
    }
    h4 {
      font-weight: 600;
    }
    p {
      font-size: 1rem;
    }
    .btn {
      margin-top: 1rem;
    }
  }

  .solutions {
    text-align: center;
    background: #f2f2f2;
    h2 {
      font-weight: 700;
      text-align: center;
      margin-bottom: 1.3rem;
    }
    p {
      font-size: 1rem;
      text-align: center;
      color: rgb(116, 116, 116);
    }
    .btn {
      margin-top: 1.5rem;
    }
  }

  .features {
    h4 {
      margin: 1.2rem auto;
      font-weight: 700;
    }

    p {
      color: rgb(116, 116, 116);
    }
    article {
      text-align: center;
    }

    article div {
      width: 120px;
    }
  }

  .quotes {
    background-color: #dc4345;

    h4 {
      color: #ffffff;
      font-size: 1rem;
    }
    p {
      color: #ffffff;
      font-size: 0.75rem;
    }
  }

  .leader {
    h3 {
      font-weight: 800;
    }
    p {
      font-size: 1rem;
      color: rgb(116, 116, 116);
    }
    article {
      padding-bottom: 0;
    }
  }

  .cleints {
    background-color: #f2f2f2;
    h2 {
      font-size: 2.5rem;
      font-weight: 800;
      text-align: center;
      padding-bottom: 2rem;
    }

    .cleint {
      overflow: auto;
      height: 110px;
    }
    .cleint div {
      height: 110px;
      width: 250px;
      padding-right: 3rem;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0);
      }
    }
    ::-webkit-scrollbar {
      display: none;
    }
img{
  z-index: 90;
}
  }

  @media all and (max-width: 768px){
   .quotes a{
   margin-top: 2rem;
   }
   }

}
